{{!-- Formulario para agregar nueva vacante --}}
<main class="contenedor">
	<form class="default-form" action="/vacantes/nueva" method="post">
		<h3>Información general</h3>
		<div class="campo">
			<label>Título</label>
			<input type="text" name="titulo" placeholder="Ej: React Developer" 
				   required autofocus>
		</div>
		<div class="campo">
			<label>Empresa</label>
			<input type="text" name="empresa" placeholder="Ej: Company Corporation" 
				   required>
		</div>
		<div class="campo">
			<label>Ubicación</label>
			<input type="text" name="ubicacion" placeholder="Ej: Argentina, Remoto" 
				   required>
		</div>
		<div class="campo">
			<label>Salario (U$D)</label>
			<input type="text" name="salario" placeholder="Ej: U$D 1200">
		</div>
		<div class="campo">
			<label>Contrato</label>
			<select name="contrato">
				<option value="" disabled selected>-- Seleccionar --</option>
				<option value="Freelance">Freelance</option>
				<option value="Tiempo completo">Tiempo completo</option>
				<option value="Medio tiempo">Medio tiempo</option>
				<option value="Por proyecto">Por proyecto</option>
			</select>
		</div>
		<h3>Descripción del puesto</h3>
		<div class="campo descripcion">
			<label>Descripción</label>
			<input type="hidden" id="x" name="descripcion">
			<trix-editor input="x"></trix-editor>
		</div>
		<h3>Conocimientos</h3>
		<ul class="lista-conocimientos">
			{{#seleccionarSkills opciones}}
			{{/seleccionarSkills}}
		</ul>
		<div class="campo centrar-horizontal">
			{{!-- rellenar este campo con los 'skills' elegidos --}}
			<input type="hidden" name="skills" id="skills">
			<input type="submit" class="btn btn-azul" value="Publicar">
		</div>
	</form>
</main>