{{!-- Formulario para ingresar nueva contrase単a --}}
<main class="contenedor">
	<h2>Hola {{nombre}}, solicitaste el cambio de tu contrase単a.</h2>
	<form class="default-form" method="post">
		<div class="campo">
			<label>Nueva contrase単a</label>
			<input type="password" name="password" required autofocus 
				   placeholder="Ingresa tu nueva contrase単a">
		</div>
		<div class="campo">
			<input type="submit" value="Guardar" class="btn btn-azul">
		</div>
	</form>
</main>