{{!-- Formulario para reestablecer la contraseña --}}
<main class="contenedor">
	<form class="default-form" action="/reestablecer-password" method="post">
		<div class="campo">
			<label>Email</label>
			<input type="email" name="email" required autofocus 
				   placeholder="Ej: johndoesmithers@mail.com">
		</div>
		<div class="campo acciones">
			<a href="/iniciar-sesion">Iniciar sesión</a>
		</div>
		<div class="campo">
			<input type="submit" value="Reestablecer" class="btn btn-azul">
		</div>
	</form>
</main>