{{!-- Plantilla para reestablecer la contraseña --}}
<h1 style="text-align: center;font-family: Arial, Helvetica;">Reestablecer contraseña</h1>
<p style="font-family: Arial, Helvetica;">Hola, has solicitado reestablecer tu contraseña. Haz click en el siguiente enlace ya que éste es temporal y si se vence es necesario que vuelvas a solicitar otro email.</p>

<a style="
    display: block; 
    font-family: Arial, Helvetica; 
    padding: 1rem; 
    background-color: #00C897; 
    color: white; 
    text-transform: uppercase; 
    text-align: center;
    text-decoration: none;"
href="{{resetUrl}}">Reestablecer contraseña</a>

<p style="font-family: Arial, Helvetica;">Si no puedes acceder a este enlace, visita: {{resetUrl}}</p>
<p style="font-family: Arial, Helvetica;">Si no solicitaste este email, puedes ignorarlo</p>
